.middle{
  padding-left: 20%;
}

#div1 img{
  width: 430px;
  height: 600px;
}

#div2 img{
  width: 430px;
  height: 600px;
}

#div3 img{
  width: 430px;
  height: 600px;
}

#div4 img{
  width: 430px;
  height: 600px;
}

#div5 img{
  width: 430px;
  height: 600px;
}

#div6 img{
  width: 430px;
  height: 600px;
}

#div7 img{
  width: 430px;
  height: 600px;
}
